body
    color: #222
    font-family: sans-serif

.channels
    list-style: none
    margin-top: 0.4em;

.channels li
    display: inline
    font-size: 1.2em
    font-weight: bold

.channels li a
    color: #333
    cursor: pointer

.inline
    display: inline

.loginButton
    margin-left: 15px

.top-spaced
    margin-top: 1em


.navbar-inner
    border-radius: 0
    border-bottom-left-radius: 30px

.float-right
    float: right

.two-thirds
    margin-left: auto;
    margin-right: auto;
    width: 67%

.navbar .nav > li > a
    margin-top: 3px
    margin-bottom: -3px
    font-family: "Daniel Black"
    color: #ddd
    font-size: 14px



/* Mixins */

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

border-bottom-left-radius()
    border-bottom-left-radius arguments
    -webkit-border-bottom-left-radius arguments
    -moz-border-bottom-left-radius arguments


/* Fonts */

@font-face
    // TODO add license from fontsquirrel
    font-family: "Daniel Black"
    src: url('/fonts/danielbk.ttf') format("truetype")
